<!doctype html>
<html ng-app="addressBook">
    <head>
        <meta charset="UTF-8">
        <title>Address book</title>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="js/main.controller.js"></script>
    </head>
    <body>
        <div ui-view></div>
        <div ng-controller="PhoneListCtrl">
            Search: <input ng-model="query">

            <ul>
                <li ng-repeat="user in users | filter:query">
                  <span ng-click="showDetailContact(user.id)">{{ user.firstName }} {{ user.lastName }}</span>
                  <p>{{user.snippet}}</p>
                </li>
              </ul>
        </div>
    </body>
</html>