<div ng-controller="UserListController" ng-init="init()">
    <div class="panel">
        <div class="search">
            <input class="input-search" ng-model="query" placeholder="Search:" />
        </div>

        <div class="add-user" ui-sref="addressBook.home.add">+</div>
    </div>

    <div class="content">
        <ul class="users">
            <li ng-repeat="user in users | filter:query" class="user">
                <span class="name" ng-click="showDetailContact(user.$id)">{{ user.firstName }} {{ user.lastName }}</span>
                <div class="remove-btn" ng-click="removeUser(user)">-</div>
            </li>
        </ul>

        <div ui-view="detail"></div>
        <div ui-view="addForm"></div>
    </div>

    <loading-process ng-show="isRequestInProcess"></loading-process>
</div>