<div ng-controller="UserListController" class="list">
    <div class="search">
        <input class="input-search" ng-model="query" placeholder="Search:" />
    </div>

    <div class="add-user" ui-sref="addressBook.home.add">+++</div>

    <ul class="users">
        <li ng-repeat="user in users track by $index | filter:query" class="user">
            <span ng-click="showDetailContact(user.$id)">{{ user.firstName }} {{ user.lastName }}</span>
            <div ng-click="removeUser($index)">-</div>
        </li>
    </ul>

    <div ui-view="detail"></div>
    <div ui-view="addForm"></div>
</div>